<div class="block">
  <div class="text-container">
    <ng-content select="[title0]"></ng-content>
    <ng-content class="content" select="[intro]"></ng-content>
  </div>
  <ng-content select="[img0]"></ng-content>
</div>

<div class="block">
  <div class="text-container">
    <ng-content select="[title1]"></ng-content>
    <ng-content select="[subtitle1]"></ng-content>
    <ng-content class="content" select="[content1]"></ng-content>
  </div>
  <div class="block-img">
    <ng-content select="[img1]"></ng-content>
  </div>
  <div class="text-container">
    <ng-content select="[content2]"></ng-content>
  </div>
  <div class="text-container">
    <ng-content select="[subtitle2]" ></ng-content>
    <ng-content select="[content3]"></ng-content>
  </div>

</div>




