.learning-content{
  margin-top: 100px;
}

h2{
  display: flex;
  text-align: center;
  justify-content: center;
}

.example-small-box {
  margin: 12px;
  padding: 12px;
  border-radius: 8px;
}

.overview-content{
  text-align: justify;
  text-justify: auto;
}
.overview-img{
  width: 40%;
}
