<div class="learning-content">
  <h2>LES FORMULAIRES</h2>

  <mat-tab-group dynamicHeight mat-stretch-tabs="true" mat-align-tabs="middle" color="warn">
    <mat-tab label="Vue d'ensemble">
      <div class="example-small-box mat-elevation-z4">
        <app-learn-section>
          <h3 title0>Pour commencer</h3>
          <div intro class="overview-content">
            <p>Les formulaires Angular sont une partie essentielle du développement d'applications web avec le framework Angular. Ils permettent de récupérer et de valider les données entrées par l'utilisateur par plusieurs méthodes, de manière efficace et structurée.</p>
            <p>Les formulaires sont extrêmement polyvalents et peuvent être utilisés dans de nombreux cas d'utilisation. Les exemples les plus courants étant :</p>
            <ul>
              <li>les formulaires d'inscription/connexion utilisateur</li>
              <p>Afin de recueillir les informations des utilisateur, comme le nom, l'email, le mot de passe, etc. Il peut inclure des validations comme des champs obligatoires, des correspondances pour le mot de passe ou de format d'email.</p>

              <li>les formulaires de contact</li>
              <p>Pour pemettre aux utilisateur d'envoyer des messages ou des requêtes de support</p>

              <li>les formulaires de paiement</li>
              <p>Un formulaire complexe pour saisir les informations de paiement, comme le numéro de carte de crédit, la date d'expiration, et le code CVV. Il nécessite une validation rigoureuse et stricte qui demande régulièrement l'intégration d'API de paiement comme Paypal.</p>

              <li>les formulaires de recherche</li>
              <p>Permettre aux utilisateurs de saisir des critères de recherche et filtrer les résultats en fonctions de ces critères</p>
            </ul>
            <p>Les formulaires Angular offrent une grande flexibilité pour s'accorder au mieux aux besoins des développeurs. Dans cette section nous verrons comment s'orienter vers le bon type de formulaires et les principales différences entre ceux-ci.</p>
          </div>
          <img class="overview-img" img0 src="/img/forms.jpg" alt="forms">

          <h3 title1>Choisir une approche</h3>
          <div content1 class="overview-content">
            <p>Angular propose deux types principaux de formulaires :</p>
            <ul>
              <li>Les formulaires basés sur les modèles (Template-driven forms)</li>
              <li>Les formulaires réactifs (Reactive forms)</li>
            </ul>
            <p>Bien que la finalité reste identique pour les deux types, leurs utilisations diffèrent et ont chacun des avantages et des inconvénients.</p>

            <h4>Comparatif</h4>
            <table tab mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <ng-container matColumnDef="criteria">
                <th mat-header-cell *matHeaderCellDef> Critères : </th>
                <td mat-cell *matCellDef="let element"> {{element.criteria}} </td>
              </ng-container>

              <ng-container matColumnDef="reactive">
                <th mat-header-cell *matHeaderCellDef> Réactif </th>
                <td mat-cell *matCellDef="let element"> {{element.reactive}} </td>
              </ng-container>

              <ng-container matColumnDef="template">
                <th mat-header-cell *matHeaderCellDef> Modèle </th>
                <td mat-cell *matCellDef="let element"> {{element.template}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

          </div>


        </app-learn-section>
      </div>
    </mat-tab>




    <mat-tab label="Basé du modèle">
      <div class="example-small-box mat-elevation-z4">
        <app-learn-section>
          <h3 title1>Les formulaires basés sur modèles</h3>
          <h4 subtitle1>1. Définition</h4>
          <div content1 class="overview-content">
            <p>Un formulaire basé sur modèle (ou Template-driven) est un type de formulaire où la majeure partie de la logique est définie dans le template HTML. Cette approche est intuitive et simple à mettre en oeuvre pour des formulaires de petite à moyenne complexité.</p>
            <p>Ce type de formulaire est une excellente option pour les applications avec des formulaires simples à moyen et pour les développeurs débutants en Angular. Ils offrent une approche intuitive et moins verbeuse, cependant ils peuvent devenir limités et difficiles à gérer dans le cas de validations dynamiques ou d'intéractions conditionnelles.</p>
            <p>Dans ce cas, il est recommandé de plutôt utiliser les formulaires réactifs (voir section suivante) qui serait une meilleure solution en raison de leur flexibilité et de leur capacité à gérer des cas d'utilisation avancés.</p>
          </div>
          <img class="overview-img form-example" img1 src="/img/form-ex.png" alt="form-types">
          <div subcontent1>
            <p>Avec les template Angular, vous pouvez construire n'importe quel type de formulaire. Dans cette section nous verrons comment créer ce type de formulaire et les notions associées. </p>
          </div>
          <h4 subtitle2>2. Implémentation</h4>
          <div content2>
            <pre><code [highlight]="tplCodeExample" language="html" linenumbers></code></pre>
            <h4>Récupérer la valeur du formulaire dans le composant</h4>
            <p>La directive <b>ngModel</b> sert à lier la valeur des contrôles HTML (input, select, textarea) à des attributs de composant.</p>
            <p>Pour commencer, il faut créer un <b>input</b> dans le template. Ensuite, appliquer notre <b>ngModel</b> sur cet input, avec comme valeur un attribut présent dans la logique du composant.</p>
            <pre><code [highlight]="inputExample" language="html" linenumbers></code></pre>

            <h4>Two-way binding</h4>
            <p>La liaison de données bidirectionnelle (two-way binding) dans Angular permet de synchroniser les données entre le modèle et la vue. Cela signifie que losque la valeur du modèle change, la vue est automatiquement mise à jour et inversement. Lorsque l'utilisateur modifie la valeur dans la vue, le modèle est mis à jour en conséquence.</p>
            <p>La syntaxe pour utiliser <b>ngModel</b> avec la liaison bidirectionnelle est une combinaison entre () et []. Avec la notation <b>([ngModel])</b>, vous pouvez modifier la donnée dans les deux sens :</p>
            <ul>
              <li>Modifier le contenu de l'input met à jour l'attribut ()</li>
              <li>Modifier l'attribut met à jour la valeur de l'input []</li>
            </ul>

            <h4>Validation de formulaire</h4>
            <p>Pour ajouter une validation à un formulaire template-driven, vous pouvez appliquer un attribut de validation html :</p>
            <pre><code [highlight]="validationExample" language="html" linenumbers></code></pre>

            <h4>Soumission du formulaire</h4>
            <p>Après la completion, l'utilisateur doit soumettre le formulaire. Pour gérer la soumission, vous devez capter l'event <b>(ngSubmit)</b> émis par le formulaire lorsque le bouton submit du formulaire est cliqué. Si ce n'est pas dans une balise <b>forms</b>, vous pouvez capter l'event <b>(click)</b> sur le bouton de soumission.</p>
            <pre><code [highlight]="formExample" language="html" linenumbers></code></pre>
          </div>

          <h4 subtitle3>3. Avantages et inconvénients</h4>
          <div content3>
            <h4>Les avantages sont :</h4>
            <ol>
              <li>Simplicité et facilité d'apprentissage</li>
              <p>Idéal pour les débutants en Angular car il repose principalement sur la syntaxe HTML et les directives Angular. La logique du formulaire est écrite directement dans le template, ce qui le rend plus intuitif et facile à comprendre.</p>
              <li>Moins de code TypeScript</li>
              <p>Nécessite moins de code dasn le composant TypeScript. La plupart de la logique est gérée dans le template. Réduit la complexité du fichier TypeScript du composant rendant plus facile sa maintenance.</p>
              <li>Liaison de données bidirectionnelle</li>
              <p>Utilise <b>ngModel</b> pour la liaison de données bidirectionnelle, ce qui facilite la synchronisation des valeurs du formulaire avec le modèle de données du composant.</p>
              <li>Validation intuitive</li>
              <p>Les directives de validation comme <b>required</b>, <b>minlength</b> et <b>maxlenght</b> sont directement utilisées dans le template HTML, rendant les règles de validation plus évidente à la lecture et facile à comprendre.</p>
              <li>Moins verbeux</li>
              <p>Pour les formulaires simples, ils peuvent être moins verbeux que les formulaires réactifs, car il y a moins de configuration et de code nécessaire.</p>
            </ol>

            <h4>Maintenant les inconvénients :</h4>
            <ol>
              <li>Difficultés de gestion pour les formulaires complexes</li>
              <p>Pour les formulaires complexes, ou dynamiques, la gestion du template peut devenir difficile et gênante. Moins adapté pour de scénarios où le formulaire doit être manipulé de manière dynamique ou conditionnelle.</p>
              <li>Validation limitées et moins flexible</li>
              <p>La validation est moins flexible comparée aux formulaires réactifs dû au manque de dynamisme. Il est plus difficle d'implémenter des validations conditionnelles ou personnalisées. Dans les cas de validations complexes, elle requiert souvent d'utiliser des solutions de "bricolage", qui rendent le code moins propre et plus difficile à maintenir.</p>
              <li>Tests unitaires moins pratiques</li>
              <p>Généralement plus difficile à tester de manière isolée, car la logique est beaucoup liée au template HTML. Il y a également moins de strucutre pour les tests unitaires, ce qui peut compliquer la mise en place de tests complets et efficaces.</p>
              <li>Performances</li>
              <p>Pour les très grands formulaires, l'utilisation répétée de <b>ngModel</b> et autres directives peut avoir un impact sur les performances en raison de la surcharge de liaison de données bidirectionnelle.</p>
              <li>Moins de contrôle sur l'état</li>
              <p>Les développeurs ont moins de contrôle programmatique sur l'état du formulaire. La gestion de l'état et des erreurs de validations peut-être moins explicite et moins évident à identifier.</p>
            </ol>
          </div>
        </app-learn-section>
      </div>
    </mat-tab>




    <mat-tab label="Formulaire réactif">
      <div class="example-small-box mat-elevation-z4">
        <app-learn-section>
          <h3 title1>Les formulaires réactifs</h3>
          <h4 subtitle1>1. Définition</h4>
          <div content1 class="overview-content">
            <p>Un formulaire réactif dans Angular est une approche pour gérer les formulaires en utilisant l'API ReactiveFormsModule. Cette méthode fournit un contrôle total sur la validation, la valeur et l'état des champs de formulaire.</p>
            <p>Les formulaires réactifs dans Angular sont construits à l'aide de l'API ReactiveFormsModule, qui permet de gérer la création et la gestion des formulaires de manière déclarative et réactive. Cela signifie que les formulaires réactifs sont principalement gérés via le code TypeScript, ce qui permet un contrôle programmatique et une validation plus complexe.</p>
          </div>
          <img class="overview-img" img1-2 src="/img/reactive.png" alt="form-types">
          <h4 subtitle2>2. Implémentation</h4>
          <div content2>
            <h4>Importation des modules</h4>
            <p>Pour utiliser les formulaires réactifs, vous devez importer <b>ReactiveFormsModule</b> dans votre module principal (ou tout autre module pertinent).</p>
            <pre><code [highlight]="reacImport" language="TypeScript" linenumbers></code></pre>

            <h4>Création du formulaire</h4>
            <p>Dans votre composant, vous allez créer une instance de <b>FormGroup</b> qui va contenir vos contrôles de formulaire (instances de <b>FormControl</b>).</p>
            <pre><code [highlight]="formCreation" language="TypeScript" linenumbers></code></pre>
            <p>Dans le template HTML :</p>
            <pre><code [highlight]="reacCodeExample" language="html" linenumbers></code></pre>

            <h4>Validation de formulaire</h4>
            <p>Les validations dans les formulaires réactifs d'Angular jouent un rôle crucial pour garantir que les données saisies par l'utilisateur respectent certaines contraintes avant d'être soumises. Angular fournit des validateurs intégrés ainsi que la possibilité de créer des validateurs personnalisés pour répondre à des besoins spécifiques.</p>
            <p>Quelques example de validateurs intégrés</p>
            <ul>
              <li>Validators.required : Vérifie que le champ n'est pas vide.</li>
              <li>Validators.min(length: number) : Vérifie que la valeur numérique est supérieure ou égale à une valeur minimale.</li>
              <li>Validators.max(length: number) : Vérifie que la valeur numérique est inférieure ou égale à une valeur maximale.</li>
              <li>Validators.minLength(length: number) : Vérifie que la longueur de la chaîne est supérieure ou égale à une longueur minimale.</li>
              <li>Validators.maxLength(length: number) : Vérifie que la longueur de la chaîne est inférieure ou égale à une longueur maximale.</li>
              <li>Validators.pattern(pattern: string | RegExp) : Vérifie que la valeur respecte un motif spécifique (expression régulière).</li>
              <li>Validators.email : Vérifie que la valeur est une adresse e-mail valide.</li>
            </ul>

            <h5>Example d'utilisations</h5>
            <pre><code [highlight]="reacValidation" language="TypeScript" linenumbers></code></pre>

            <h5>Validateurs personnalisées</h5>
            <p>En plus des validateurs intégrés, vous pouvez créer des validateurs personnalisés pour des règles de validation spécifiques. Un validateur personnalisé est simplement une fonction qui retourne soit null (si la validation réussit) soit un objet d'erreur (si la validation échoue).</p>
            <pre><code [highlight]="customValidation" language="TypeScript" linenumbers></code></pre>
            
            <h5>Validation asynchrone</h5>
            <p>Parfois, vous avez besoin de valider les champs de formulaire de manière asynchrone, par exemple en vérifiant si un nom d'utilisateur est déjà pris en interrogeant un serveur. Angular prend en charge les validateurs asynchrones via des Observable ou Promise.</p>
            <p>Voici comment vous pouvez créer un validateur asynchrone :</p>
            <pre><code [highlight]="asyncValidation" language="TypeScript" linenumbers></code></pre>

            <h5>Gestion des erreurs de validation</h5>
            <p>Pour gérer les erreurs de validation, vous pouvez récupérer l'état du contrôle et afficher des messages d'erreur conditionnels dans le template.</p>
            <pre><code [highlight]="errorValidation" language="html" linenumbers></code></pre>

            <h4>Soumission du formulaire</h4>
            <p>Dans votre composant TypeScript, créez une méthode pour gérer la soumission du formulaire. Cette méthode vérifiera si le formulaire est valide, puis traitera les données en conséquence (par exemple, en les envoyant à un serveur).</p>
            <pre><code [highlight]="reacSubmit" language="html" linenumbers></code></pre>
            <p>La méthode onSubmit est appelée lorsque le formulaire est soumis. Si le formulaire est valide (this.monFormulaire.valid), une requête POST est envoyée à une URL fictive (https://exemple.com/api/endpoint) avec les données du formulaire. Si le formulaire est invalide, tous les champs sont marqués comme touchés pour s'assurer que les messages d'erreur sont affichés.</p>


            <h4 subtitle3>3. Avantages et inconvénients</h4>
            <div content3>
              <h4>Les avantages sont :</h4>
              <ol>
                <li>Contrôle programmatique complet</li>
                <p>Les formulaires réactifs permettent aux développeurs de gérer les contrôles de formulaire et leurs valeurs directement dans le code TypeScript, offrant ainsi un contrôle total et une grande flexibilité.</p>
                <li>Validation avancée</li>
                <p>Les formulaires réactifs supportent facilement des validations synchrones et asynchrones complexes. Vous pouvez appliquer plusieurs validateurs intégrés ou créer des validateurs personnalisés.</p>
                <li>Observabilité</li>
                <p>Les formulaires réactifs utilisent des observables, ce qui permet de réagir aux changements de valeurs et d'état des contrôles en temps réel. Cela facilite l'implémentation de fonctionnalités telles que la validation en temps réel et la mise à jour dynamique des champs.</p>
                <li>Facilité de test</li>
                <p>Les formulaires réactifs sont plus faciles à tester que les formulaires basés sur des templates car vous pouvez manipuler les contrôles directement dans les tests unitaires sans avoir besoin de rendre les templates HTML.</p>
                <li>Modularité et réutilisabilité</li>
                <p>La logique des formulaires peut être facilement modulée et réutilisée. Vous pouvez définir des groupes de formulaires et des contrôles qui peuvent être réutilisés dans différents composants.</p>
              </ol>
              <h4>Les inconvénients sont :</h4>
              <ol>
                <li>Courbe d'Apprentissage</li>
                <p>Les formulaires réactifs peuvent avoir une courbe d'apprentissage plus abrupte pour les développeurs novices ou ceux qui ne sont pas familiers avec le paradigme réactif et la programmation orientée objet.</p>
                <li>Verbosité</li>
                <p>La définition des formulaires réactifs peut être plus verbeuse et complexe par rapport aux formulaires basés sur des templates, surtout pour des formulaires simples. Cela peut conduire à plus de code boilerplate.</p>
                <li>Initialisation Plus Complexe</li>
                <p>La configuration et l'initialisation des formulaires réactifs nécessitent plus de configuration dans le code TypeScript, ce qui peut ajouter une complexité supplémentaire lors de la création initiale du formulaire.</p>
                <li>Difficulté avec les Scénarios Simples</li>
                <p>Pour des formulaires très simples, la mise en place de formulaires réactifs peut sembler excessive par rapport aux formulaires basés sur des templates, qui peuvent être plus intuitifs et rapides à mettre en œuvre pour des cas d'utilisation de base.</p>
                <li>Gestion de l'État du Formulaire</li>
                <p>Bien que les formulaires réactifs offrent un contrôle complet sur l'état du formulaire, cela peut également signifier que les développeurs doivent gérer explicitement des aspects tels que l'état de validité, la saleté et la touche, ce qui peut augmenter la complexité du code.</p>
              </ol>
            </div>
            
          </div>

        </app-learn-section>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
