<div class="learning-content">
  <h2>About Forms</h2>

  <mat-tab-group dynamicHeight mat-stretch-tabs="true" mat-align-tabs="center" color="warn">
    <mat-tab label="Overview">
      <div class="example-small-box mat-elevation-z4">
        <app-learn-section>
          <h3 title>Overview</h3>
          <div class="overview-content">
            <p>Applications use forms to enable users to log in, to update a profile, to enter sensitive information, and to perform many other data-entry tasks.</p>
            <p>Angular provides two different approaches to handling user input through forms: reactive and template-driven. Both capture user input events from the view, validate the user input, create a form model and data model to update, and provide a way to track changes.</p>
            <p>This guide provides information to help you decide which type of form works best for your situation. It introduces the common building blocks used by both approaches. It also summarizes the key differences between the two approaches, and demonstrates those differences in the context of setup, data flow, and testing.</p>

          </div>
          <img class="overview-img" doc src="/img/forms.jpg" alt="forms">
        </app-learn-section>
      </div>
    </mat-tab>
    <mat-tab label="Reactive forms">
      <div class="example-small-box mat-elevation-z4">
        <app-learn-section>
          <h3 title>Reactive forms</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec ullamcorper ante. Donec eget velit non libero sollicitudin dapibus a eu nisi. Phasellus eget turpis viverra, mollis purus eget, placerat metus. Fusce tincidunt arcu in viverra mattis. Proin in malesuada eros, ac condimentum leo. Praesent nibh purus, varius sit amet aliquam in, cursus nec neque. Maecenas mi est, euismod vitae scelerisque vitae, imperdiet sed felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam laoreet magna ut nulla congue, vitae dictum dolor dignissim. Mauris et ornare dui, ut sagittis mauris. Phasellus sem leo, maximus at hendrerit a, auctor in turpis. Pellentesque arcu nisl, lacinia id tellus lacinia, imperdiet posuere odio. Nullam vel pulvinar sem. Mauris vitae cursus nisi, lacinia porttitor sapien. Aliquam erat volutpat.</p>
        </app-learn-section>
      </div>
    </mat-tab>
    <mat-tab label="Template-driven forms">
      <div class="example-small-box mat-elevation-z4">
        <app-learn-section>
          <h3 title>Template-driven forms</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec ullamcorper ante. Donec eget velit non libero sollicitudin dapibus a eu nisi. Phasellus eget turpis viverra, mollis purus eget, placerat metus. Fusce tincidunt arcu in viverra mattis. Proin in malesuada eros, ac condimentum leo. Praesent nibh purus, varius sit amet aliquam in, cursus nec neque. Maecenas mi est, euismod vitae scelerisque vitae, imperdiet sed felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam laoreet magna ut nulla congue, vitae dictum dolor dignissim. Mauris et ornare dui, ut sagittis mauris. Phasellus sem leo, maximus at hendrerit a, auctor in turpis. Pellentesque arcu nisl, lacinia id tellus lacinia, imperdiet posuere odio. Nullam vel pulvinar sem. Mauris vitae cursus nisi, lacinia porttitor sapien. Aliquam erat volutpat.</p>

        </app-learn-section>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
