<div class="learning-content">
  <h2>About Forms</h2>

  <mat-tab-group dynamicHeight mat-stretch-tabs="true" mat-align-tabs="center" color="warn">
    <mat-tab label="Section 1">
      <div class="example-small-box mat-elevation-z4">
        <app-learn-section sectionName="Section 1">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec ullamcorper ante. Donec eget velit non libero sollicitudin dapibus a eu nisi. Phasellus eget turpis viverra, mollis purus eget, placerat metus. Fusce tincidunt arcu in viverra mattis. Proin in malesuada eros, ac condimentum leo. Praesent nibh purus, varius sit amet aliquam in, cursus nec neque. Maecenas mi est, euismod vitae scelerisque vitae, imperdiet sed felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam laoreet magna ut nulla congue, vitae dictum dolor dignissim. Mauris et ornare dui, ut sagittis mauris. Phasellus sem leo, maximus at hendrerit a, auctor in turpis. Pellentesque arcu nisl, lacinia id tellus lacinia, imperdiet posuere odio. Nullam vel pulvinar sem. Mauris vitae cursus nisi, lacinia porttitor sapien. Aliquam erat volutpat.</p>
        </app-learn-section>
      </div>
    </mat-tab>
    <mat-tab label="Section 2">
      <div class="example-small-box mat-elevation-z4">
        <app-learn-section sectionName="Section 2">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec ullamcorper ante. Donec eget velit non libero sollicitudin dapibus a eu nisi. Phasellus eget turpis viverra, mollis purus eget, placerat metus. Fusce tincidunt arcu in viverra mattis. Proin in malesuada eros, ac condimentum leo. Praesent nibh purus, varius sit amet aliquam in, cursus nec neque. Maecenas mi est, euismod vitae scelerisque vitae, imperdiet sed felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam laoreet magna ut nulla congue, vitae dictum dolor dignissim. Mauris et ornare dui, ut sagittis mauris. Phasellus sem leo, maximus at hendrerit a, auctor in turpis. Pellentesque arcu nisl, lacinia id tellus lacinia, imperdiet posuere odio. Nullam vel pulvinar sem. Mauris vitae cursus nisi, lacinia porttitor sapien. Aliquam erat volutpat.</p>
        </app-learn-section>
      </div>
    </mat-tab>
    <mat-tab label="Section 3">
      <div class="example-small-box mat-elevation-z4">
        <app-learn-section sectionName="Section 3">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec ullamcorper ante. Donec eget velit non libero sollicitudin dapibus a eu nisi. Phasellus eget turpis viverra, mollis purus eget, placerat metus. Fusce tincidunt arcu in viverra mattis. Proin in malesuada eros, ac condimentum leo. Praesent nibh purus, varius sit amet aliquam in, cursus nec neque. Maecenas mi est, euismod vitae scelerisque vitae, imperdiet sed felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam laoreet magna ut nulla congue, vitae dictum dolor dignissim. Mauris et ornare dui, ut sagittis mauris. Phasellus sem leo, maximus at hendrerit a, auctor in turpis. Pellentesque arcu nisl, lacinia id tellus lacinia, imperdiet posuere odio. Nullam vel pulvinar sem. Mauris vitae cursus nisi, lacinia porttitor sapien. Aliquam erat volutpat.</p>
        </app-learn-section>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
