.home-content{
  //background-color: #FFD9AD;
  background: linear-gradient(217deg, rgba(0,120,214,.8) , rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(255,217,173,.8) , rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(226,50,55,.8), rgba(0,0,255,0) 70.71%);
}

.home-content-image{
  position: relative;
  width: 100%;
  height: 100%;
  filter: blur(12px);
  padding-top: 60px;
}

.home-content-start{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
 .timer{
  position: fixed;
  top: 84px;
  left: 24px;
  width: 7%;
  background-color: white;
  border-radius: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(195, 195, 195);
  text-align: center;
 }

.test-container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;

}

.question-container{
  margin-bottom: 56px;
  padding-left: 24px;
}

.test-form{
  padding-top: 84px;
  padding-bottom: 20px;
}
