.section{
  display: flex;
  align-items: center;
  margin-right: 12px;
}

.navbar-services{
  color: white;
  transform: scale(1.2);
  margin-right: 4px;
}

.navbar-services-title{
  color: white;
  font-size: medium;
}
