<ng-container *ngIf="type === 'radio'; then qRadio else qBox"></ng-container>

<ng-template #qRadio >
  <form [formGroup]="form">
    <h3>Question n°{{ qNumber + 1 }}</h3>
    <h4>{{ label }}</h4>
    <mat-radio-group [formControlName]="cName" class="question-radio" aria-label="Choisissez une réponse">
      <mat-radio-button *ngFor="let o of options; let i = index" [value]="i+1">{{i+1}}. {{ o }}</mat-radio-button>
    </mat-radio-group>
  </form>
</ng-template>

<ng-template #qBox></ng-template>
